html, body, h1, h2, h3, h4, p, div {
	padding:0;
	border:0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "Halvetica Neue", Halvetica, sans-serif;
	text-align: center;
}
.nav li{
	display: inline-block;
	padding: 15px 10px 15px 10px;
	font-size: 20px;
	border: 2px solid #007aac;
	border-radius: 20px;
	margin: 2px;
	color:#007aac;

}
a {
text-decoration: none;
color:#007aac;
}
.nav {
	
	margin:50px 20px 20px 20px;
}

h1 {
	font-size: 85px;
	font-weight: 300;
	color: #ffffff;
	line-height:250px;
}
.name {
    padding: 50px;  
    margin:0px 0px 0px 0px;
    background-color:#2eb8b8;
}

img{
	height: 250px;
	width: 250px;
	float: left;
	border-radius: 20px;
	margin-left:50px;

}
h2 {
	color:#007aac;
	font-size: 25px;
}
.subhead {
	margin: 40px 0px 40px 0px;
}
.mission img {
	float:right;
}
.mission {
	padding: 50px;  
    margin:0px 0px 50px 0px;
    background-color:#2eb8b8;
    color:#ffffff;
}

h3 {
	text-align: left;
	font-size: 30px;
}
p {
  font-size:16px;
  text-align: left;
  padding-top:15px;
}

.tech {
	padding: 50px;  
    margin:0px 0px 50px 0px;
    background-color:#2eb8b8;
    color:#ffffff;
}

li {
     list-style-type: none;
     display: inline;
}

 .tech img {
 	float: none;
 	height: 100px;
 	width: 100px;
 	float:left;
 }   

.git {
	margin:100px auto 75px auto;
	padding:30px;
	border: 5px solid #007aac;
	border-radius: 20px;
	width: 500px;
}
.git a{
font-size: 25px;
}

.git:hover {
	background-color: #2eb8b8;
	border: 5px solid #ffffff;
}

.git:hover a{
	color:#ffffff;
}


.health {
	padding: 50px;  
    margin:0px 0px 50px 0px;
    background-color:#2eb8b8;
    color:#ffffff;
}

.health p {
	text-align:right;
}

.health h3 {
	text-align: right;
}

.promo {
	margin:100px auto 75px auto;
	padding:30px;
	border: 5px solid #007aac;
	border-radius: 20px;
	width: 500px;
}

.promo:hover {
	background-color: #2eb8b8;
	border: 5px solid #ffffff;
}

.promo:hover h2{
	color:#ffffff;
}

footer {
	padding: 50px;  
    margin:0px 0px 150px 0px;
    background-color:#2eb8b8;
    color:#ffffff;

}

footer h3 {
 text-align: center;
 font-size: 16px;
}    

footer img {
	height: 65px;
	width: 65px;
}