
body{
background-color: #000;
}
#wrapper{
	max-width: 1600px;
	min-width: 300px;
	max-height: 1000px;
	margin: 0 auto;
}
#header{
	width:100%;
}
.mainPhoto{
	position: relative;
	width: 100%;
	z-index: -1;
}
.photoOfMe{
	position: relative;
	border-radius: 20px;
	width: 25%;
	z-index: 1;
	float: right;
	margin-top: -20%;
	margin-right: 10%;
	box-shadow: 4px -4px 3px #ffffff;
}
#summary{
	margin-left: 10%;
	margin-bottom: 5%;
}
h1{
 	position: relative;
 	font-size: 5.9vw;
 	font-family: "Halvetica Neue", Halvetica, sans-serif;
	text-align: center;
 	z-index: 2;
 	color: #ffffff;
 	margin-top: -8%;
 	margin-left: -15%;
 	font-weight: 200;
 	text-shadow: 3px 3px #000000;
}
h2, a{
	color:#007aac;
	font-size: 2.8vw;
	font-family: "Halvetica Neue", Halvetica, sans-serif;
	font-weight: 200;
	padding-top: 3%;
}
a{
	padding: 12px;
	border: 2px solid #007aac;
	border-radius: 15px;
	display: block;
	text-decoration: none;
	margin-right: 60%;
	text-align: center;
	background-color: rgba(0, 173, 243, 0.3);
	color: #FFF;
	font-size: 3.5vw;
}
a:hover{
	text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 650px){
	h1{
		text-shadow: 1px 1px #000000;
	}
	.photoOfMe{
		box-shadow: 2px -2px 1px #ffffff;
	}
	.navigation{
		background-color: rgba(0,122,172,0.0);
	}
}